*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

li{
    list-style: none;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.navbar .container {
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
}
.navbar ul{
    display: flex; 
}

.navbar li{
    padding: 10px;
    margin: 0 5px;
}

.navbar .flex{
    justify-content: space-between;
}


.showcase-container .grid{
    grid-template-columns: 60% 40%;
    gap: 30px;
    overflow: visible;
}

.hero-container img{
    justify-self: end;
    width: 200px;
}

/* Register and Login Page */
section.flex{
    height: 100vh;
}

.form-group{
    margin-bottom: 20px;
}

.form-group label{
    display: block;
    text-align: left;
    font-size: 20px;
    padding-bottom: 5px;
}

.form-group input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn{
    padding: 13px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}